<div class="mx-auto max-w-md">
  <h1 class="text-center mb-4 text-gray-900 font-bold">使い方</h1>
  <h2 class="mb-2 text-gray-900 font-bold">1.ユーザの新規作成をして、ログインをしてください！</h2>
  <h2 class="mb-2 text-gray-900 font-bold">2.ログイン後、スマイル診断を実施する！</h2>
  <p class="mb-4 text-gray-900 font-bold">写真は保存されないので、安心してください！</p>
  <h2 class="mb-2 text-gray-900 font-bold">3.感想を記載し、いざshareを</h2>
  <h2 class="mb-2 text-gray-900 font-bold">診断すると「みんなのスマイル」にあなたの診断結果が表示されます！</h2>
</div>