<div class="mx-auto max-w-3xl">
<h1 class="text-5xl text-gray-900 font-bold text-center m-5">about</h1>
  <h2 class="text-xl mb-6 text-gray-900 font-bold text-center">スマプラは、あなたの笑顔を診断し、その価値を算出します！<br>
  更に、算出された価値に見合ったマクドナルドのメニューを提案します！<br>
  </h2>
  <h3 class="text-xl text-center mb-4 text-gray-900 font-bold mb-5">ChatGPTがあなたのスマイルを分析します！！！<h3>
  
  <h1 class="text-2xl text-center mb-4 text-gray-900 font-bold mb-15">使い方</h1>
  
  <div class="flex justify-between items-center mb-10">
    <%= image_tag 'smile_kids.jpeg', class: 'w-1/3 h-50 mr-4' %>
    <div class="w-1/2">
      <h2 class="text-gray-900 font-bold">Step1.ユーザー作成・ログイン</h2>
      <p class="text-gray-900">ユーザーの新規作成、もしくはゲストログインをしよう！</p>
    </div>
  </div>

  <div class="flex justify-between items-center mb-10">
    <div class="w-1/2">
    <h2 class="text-gray-900 font-bold">Step2.スマイル診断！</h2>
    <p class="text-gray-900">写真は保存されず、アプリ内で非表示設定も可能なので、安心してご利用いただけます！</p>
    </div>
    <%= image_tag 'https://www.mcdonalds.co.jp/product_images/725/1210-Big-Mac.m.m.webp?20230116044513', class: 'w-1/3 h-50 mr-4' %>
  </div>

  <div class="flex justify-between items-center mb-10">
    <%= image_tag 'https://www.mcdonalds.co.jp/product_images/17/2010-McFry-S.m.webp?20230116044618', class: 'w-1/3 h-50 mr-4' %>
    <div class="w-1/2">
      <h2 class="text-gray-900 font-bold">Step3.感想シェア！</h2>
      <p class="text-gray-900">アプリ内シェアとTwitterシェアの両方が可能です！</p>
    </div>
  </div>  

  <div class="flex justify-between items-center mb-10">
    <div class="w-1/2">
      <h2 class="text-gray-900 font-bold">Step4.「みんなのスマイル」にスマイル結果を表示！</h2>
      <p class="text-gray-900">「みんなのスマイル」にあなたの診断結果が表示されます！<br>目指せNo.1スマイリスト！</p>
    </div>
    <%= image_tag 'https://www.mcdonalds.co.jp/product_images/729/800000-Big-Mac-Set.m.m.webp?20230308130638', class: 'w-1/3 h-50 mr-4' %>
  </div>
</div>