<% if object.errors.any? %>
  <div class="alert alert-error shadow-lg items-center mb-2">
    <div>
        <% object.errors.full_messages.each do |message| %>
          <span><%= message %></span>
        <% end %>
    </div>
  </div>
<% end %>