<%= link_to 'みんなのスマイル', smile_prices_path, class: "text-black font-bold text-lg hover:text-red-500 transition duration-200 font-medium mr-6" %>
<a href="#" class="text-black font-bold text-lg hover:text-red-500 transition duration-200 font-medium mr-6">about</a>
<%= link_to 'スマイル診断', new_smile_price_path, class: "bg-red-500 hover:bg-yellow-500 text-white rounded-full py-1 md:py-2 px-4 md:px-6 font-bold text-base md:text-lg" %>
<%= link_to 'ログアウト', logout_path, class: "bg-yellow-500 hover:bg-red-500 text-white rounded-full py-1 md:py-2 px-4 md:px-6 font-bold text-base md:text-lg", method: :delete %>